.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-Footer img {
  margin-left: 10px;
  position: absolute;
  height: 20px;
}

.Me-Avatar {
  margin: 15px;
  width: 140px !important;
  height: 140px !important;
}

.Courier-Typography {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace !important;
}

.Nav-Button {
  height: 70px;
  float: left;
  clear: both;
}

.Paper {
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.Qualification-Icon {
  height: 50px;
  float: left;
}

.Container {
  margin: 50px;
  width: 100%;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:black;

}

.App-header img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:black;
}

.App-link {
  color: #61dafb;
}
