.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-Footer img {
  margin-left: 5px;
  position: absolute;
  height: 20px;
}

.Me-Avatar {
  margin: 15px;
  width: 140px !important;
  height: 140px !important;
}

.Courier-Typography {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace !important;
}

.Nav-Button {
  height: 70px;
}

.Paper {
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.Article {
  padding: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.Article a {
  text-decoration: underline;
}

.Article p {
  margin-bottom: 20px;
  clear: both;
}

.Article h6 {
  margin-bottom: 20px;
}

.Article img {
  height: 150px;
  float: left;
  margin-right: 50px;
  margin-bottom: 50px;
}

.Article-Large img {
  height: 500px;
  margin-right: 50px;
  margin-bottom: 50px;
}

.Section-Header {
  float: left;
  margin-right: 20px;
}

.Section-Link {
  float: left;
  margin-left: 20px;
  margin-bottom: 8px;
  padding: 5px;
}

.Section-Body {
  clear: both;
}

.Article-Tags {
  width: 100%;
}

.Article-Tags div {
  margin-bottom: 20px;
  margin-right: 10px;
}

.Expansion {
  margin-top: 10px;
  margin-bottom: 20px;
}

.Expansion-Details {
  display: block !important;
}

.Expansion img {
  margin-right: 20px;
}

.Expansion p, span {
  clear: both;
  width: 100%;
}

.Qualification-Icon {
  height: 40px;
  float: left;
}

@media only screen and (max-width: 599px) {
  .Qualification-Icon-Large {
    height: 100px;
    float: left;
  }
}

@media only screen and (min-width: 600px) {
  .Qualification-Icon-Large {
    height: 150px;
    float: left;
  }
}

.Header-Icon {
  height: 40px;
}

.Link-Icon {
  height: 80px;
  float: left;
  padding-bottom: 20px;
}

.Game-Icon {
  clear: both;
  height: 50px;
}

.Container {
  margin: 50px;
  width: 100%;
}

.Social-Links {
  width: 38px;
  float: left;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:black;
}

.Space-Blaster-Frame {
  width: 1040px;
  height: 1135px;
  border: none;
}

.Space-Blaster-Container {
  text-align: center;
  width: 1040px;
}

.App-header a {
  text-align: center;
  display: block;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

.App-header img {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:black;
}

.App-link {
  color: #61dafb;
}
